body {
    font-family: sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to bottom, #dcdcdc 50%, #e0f7fa 50%);
}

* {
    margin: 0;
    padding: 0;
}

main {
    width: 320px;
    min-height: 300px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 30px 50px #5553;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main form {
    width: 100%;
    border: 1px solid #5553;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    padding: 5px 10px;
}

main form input,
main form button {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 10px;
}

main form i {
    opacity: 0.7;
}

main section {
    text-align: center; 
}

.temperatura img {
    width: 150px;
    filter: none;
    transition: filter 0.3s ease;
}



.temperatura figcaption {
    font-size: 3em;
    text-align: center;
}

.descripcion {
    padding: 10px 0 30px;
    text-align: center;
}

main ul {
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

main li {
    background-color: #f78a55;
    color: #fff;
    border-radius: 10px;
    padding: 20px 0px;
    font-weight: bold;
    font-size: small;
    text-align: center;

    background-image: linear-gradient(to bottom, transparent 50%, #0003 50%);
}

main li i {
    font-size: 2em;
    margin: 20px 0;
}

main li:nth-child(2) {
    background-color: #b56291;
}

main li:nth-child(3) {
    background-color: #55acee;
}

main.error {
    animation: errorEffect 0.3s linear 1;
}

@keyframes errorEffect {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.descripcion {
    padding: 5px 0 25px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
    color: #333;
}
